# Question 1

In [1]:
from collections import Counter
import json

def word_cnt(sequence:str) -> dict:
    splited_seq = sequence.split(" ")
    count = dict(Counter(splited_seq))
    print(count)
    with open("result.json", "w") as outfile: 
        json.dump(count, outfile)

word_cnt('hello world hello')

{'hello': 2, 'world': 1}

In [2]:
count_file = 0
def generate_json_files(count_file):
    if count_file < 100:
        with open(f"D:/python/100_json_files/result_{count_file}.json", "w") as outfile:
            json.dump(count_file, outfile)
        count_file += 1
        generate_json_files(count_file=count_file)

# generate_json_files(count_file=count_file)

# Question 3

In [ ]:
# extract information from json file
def extract(path_to_json:str):
    json_file = json.load(open(path_to_json))

In [1]:
import mysql.connector
from mysql.connector import Error

connection = mysql.connector.connect(
          host='127.0.0.1',
          port=3306,
          user='root',
          password='123456',
      )

In [9]:
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B739040AD0>

In [4]:
mycursor = connection.cursor()
mycursor.execute("CREATE DATABASE testdatabase")

In [8]:
# mycursor = connection.cursor()
mycursor.execute("Show databases;")

InternalError: Unread result found

In [22]:

# mycursor.execute("CREATE DATABASE trungdatabase")
mycursor.execute("USE trungdatabase")
# TABLES = {}
# TABLES['employees'] = (
#     "CREATE TABLE employees ("
#     "  id int(11) NOT NULL,"
#     "  name varchar(16) date NOT NULL,"
#     "  department varchar(14) NOT NULL,"
#     "  salary int(11) NOT NULL,"
#     "  join_date date NOT NULL" 
#     ") ENGINE=InnoDB;")

mycursor.execute("CREATE TABLE Persons (PersonID int, LastName varchar(255), FirstName varchar(255), Address varchar(255), City varchar(255))")

InternalError: Unread result found